<%- include("../partials/header.ejs")%>
<main>
  <div class="user-wrapper">
    <p class="error-message"></p>
    <p class="ajax-message"></p>
    <div class="tweet-wrapper">
      <form class="col s12" action="/auth/users" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="row">
          <div class="input-field col s12">
            <textarea
              id="textarea1"
              class="materialize-textarea"
              name="tweet"
            ></textarea>
            <label for="textarea1">What's happening?</label>
          </div>
        </div>
        <button class="btn-floating waves-effect waves-light" type="submit">
          <i class="material-icons">add</i>
        </button>
      </form>
    </div>
    <div class="tweet-items-wapper">
      <ul>
        <% userTweets.forEach(tweetData => { %>
        <div class="tweet-items">
          <div class="tweet-items-header">
            <p class="tweet-author"><%= tweetData.User.firstName %></p>
            <p class="tweet-date"><%= tweetData.createdAt %></p>
          </div>
          <li><%= tweetData.tweet %></li>
          <form action="">
            <div class="tweet-favorite-wrapper">
              <label for="tweet-favorite-<%=tweetData.id%>">
                <input type="checkbox" id="tweet-favorite-<%=tweetData.id%>" />
                <span>いいね</span>
              </label>
              <p id="favorite-count-<%=tweetData.id %>"></p>
            </div>
          </form>
        </div>
        <% }); %>
      </ul>
    </div>
  </div>
</main>
<%- include("../partials/footer.ejs")%>
